/* =============== CONTACT =============== */
.contact {
  display: flex;
  background-color: #191c26;
}

.contact .title {
  margin-bottom: 40px;
}

.contact .address {
  margin-bottom: 70px;
}
/* =============== CONTACT FORM =============== */
.contact-form-section {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-right: 25px;
}

.contact-form-section .title {
  width: 560px;
  margin-left: auto;
}

.contact-form {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
}

.contact-form ::placeholder {
  text-transform: uppercase;
}

.contact-form__input {
  width: 270px;
  height: 24px;
  font-size: 11px;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  color: #fff;
  margin-bottom: 44px;
  transition: all 250ms linear;
}

.contact-form__input:focus,
.contact-form__message:focus {
  outline: none;
  border-color: #fff;
}

.contact-form__input:focus::placeholder,
.contact-form__message:focus::placeholder {
  color: #fff;
}

.contact-form__message {
  width: 100%;
  height: 76px;
  font-size: 11px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  resize: none;
  color: #fff;
  margin-bottom: 44px;
  transition: all 250ms linear;
}

.contact-form__btn {
  min-width: 160px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 20px;
  color: #fff;

  transition: all 250ms linear;
}

.contact-form__btn:hover,
.contact-form__btn:focus {
  background-color: $accent-color;
  color: #fff;
}
/* =============== END CONTACT FORM ===============*/

/* =============== CONTACT INFORMATION ===============*/
.contact-information {
  width: 50%;
  padding-top: 130px;
  padding-left: 115px;
  padding-bottom: 130px;
  background-image: url("../images/contact/bg.png");
  background-size: cover;
}

.contact-list__link,
.contact-information__date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contact-list__link {
  display: flex;
  align-items: center;
}

.contact-list__icon {
  margin-right: 16px;
}

.contact-list__item:first-child .contact-list__icon {
  align-self: flex-start;
  margin-top: 6px;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 20px;
}

/* =============== END CONTACT INFORMATION ===============*/

/* =============== END CONTACT ===============*/
