.services {
  background-color: #111319;
  background-image: url("../images/services/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.services .title {
  margin-bottom: 44px;
}

.services-align {
}

.services .modal-btn {
  display: block;
  margin: 0 auto;
}

.services__list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.services__list {
  width: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(180deg, #171a24 0%, #171a2433 100%);
}

/* 
  4n - 1
  
  4 * 0 - 1 = -1;
  4 * 1 - 1 = 3;
  4 * 2 - 1 = 7;
  4 * 3 - 1 = 11;
  
  4n - 2
  4 * 0 - 2 = -2;
  4 * 1 - 2 = 2;
  4 * 2 - 2 = 6;
  4 * 3 - 2 = 10;
  
  
  2,3,6,7,10,11
  */

.services__list:nth-child(4n-1),
.services__list:nth-child(4n-2) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

/* .services__list:nth-child(odd) {
    background-image: linear-gradient(180deg, #171a24 0%, #171a2433 100%);
  }
  
  .services__list:nth-child(even) {
    background-image: linear-gradient(
      180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%
    );
  } */

.services__list-item {
  display: flex;
  align-items: baseline;
}

.services__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services__list-item-underline {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 6px;
}

.services__list-item-name,
.services__list-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
