.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms linear;

  &.is-hidden {
    transition: all 500ms linear 500ms;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px;
  transition: transform 500ms linear 500ms;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 500ms linear 0ms;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;

  &:focus {
    outline: none;
    border-color: $accent-color;
  }
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: teal;
  transition: background-color 250ms linear;

  .modal__form-input:focus + & {
    background-color: $accent-color;
  }
}

.modal__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms linear;

  &:focus {
    outline: none;
    border-color: $accent-color;
  }
}

.modal__form-policy-text {
  margin-bottom: 20px;

  &::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    outline: 1px solid #000;
    content: "";
    margin-right: 10px;

    .modal__form-policy:checked + & {
      background-color: $accent-color;
      border: 4px solid #fff;
    }
  }
}

.modal__form-btn {
  display: block;
  width: 200px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  @include font(12px, 600, 16px);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 20px;
  color: #303030;
  margin: 0 auto;

  transition: all 250ms linear;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #fff;
  }
}
