.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;

  &_light-theme {
    color: #555555;
  }

  &_dark-theme {
    color: #9da4bd;
  }
}
