.title {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: #303030;

  &_light-theme {
    color: #303030;
  }

  &_dark-theme {
    color: #ffffff;
  }
}
